PORT=4101
NFT_DATA_FILE=.data/nft-service.json
PINATA_JWT=
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_SPONSOR_SECRET=
NFT_COLLECTION_WASM_HASH=
STELLAR_USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
NFT_CHECKOUT_TTL_SECONDS=300
